@media only screen and (max-width: 1250px) {
  hr {
    display: none;
  }
  .left::before {
    width: 30%;
  }
  .down-arrow {
    display: none;
  }
  .upper-content {
    flex-direction: column;
  }
  .icon-a {
    display: inline;
  }
  .icon-a > i {
    display: inline;
  }
  .title-sec > h1 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 900px) {
  .nav-list {
    display: none;
  }
  .middle-content-text {
    margin: 0;
  }
  .user-img {
    height: 135px;
  }
  .user-del {
    width: 45%;
  }
  .pendulam-container {
    display: none;
  }
}
