/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --defaultPadding: 2rem 3rem;
  --secondary: #8b8b8b;
  --dark: #333333;
  --light: #f5f2f0;
}

body {
  background-color: var(--light);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------- Navbar style ------------ */
nav {
  padding: var(--defaultPadding);
  display: flex;
  align-items: center;
}

.brand {
  flex-grow: 1;
}

.brand > img {
  height: 35px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
}

.list-item {
  margin: 0 5px;
}

.list-item-link {
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 25px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.nav-list > li:nth-child(2) > a {
  color: #111111;
  font-weight: 500;
}

.nav-list > hr {
  width: 266px;
  height: 2.1px;
  background-color: #000000;
  margin-right: 30px;
}

/* ----------------------------------- */

.body {
  display: flex;
  flex-direction: row;
}

.left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 36%;
  height: 100%;
  background: url(../images/bg.jpg);
  background-size: cover;
  z-index: -1;
}

.left {
  width: 40%;
}

/* ------ Right ----- */

.right {
  /* border: 2px solid #000000; */
  width: 70%;
}
.container {
  padding: 0 2rem;
}

/* --------------- Upper -------------- */
.upper-content {
  display: flex;
  justify-content: space-between;
}

.title-sec {
  font-family: "PT Serif", serif;
  font-weight: 700;
}
.title-sec > h1 {
  font-size: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
}
span {
  display: inline;
}

.h1-light {
  -webkit-text-stroke: 0.8px black;
  color: transparent;
}

.h1-dark {
  color: var(--dark);
  margin-left: 100px;
  margin-top: -40px;
}

.icon-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-a {
  margin: 10px 0;
}

.icon-a > i {
  color: #000000;
  font-size: 17px;
  padding: 10px;
  color: #000000;
}
/* --------------------------------- */
/* ----------- Middle ------------------- */

.middle-content {
  display: flex;
  justify-content: center;
}

.middle-content-text {
  margin-left: 18rem;
}

.middle-content-text > p {
  font-size: 35px;
  color: var(--secondary);
  margin-top: -6rem;
  margin-bottom: 2rem;
}

.btn {
  cursor: pointer;
  padding: 15px 35px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: var(--dark);
  border: none;
  outline: none;
}
/* ------------------------------- */
/* ------------ Bottom ------------- */

.bottom-content {
  display: flex;
  margin-top: 25px;
}

.pendulam-container {
  display: flex;
  flex-direction: column;
}

.pendulum {
  position: relative;
  display: inline-block;
}

.stick {
  height: 35px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  display: inline-block;
}

.ball {
  height: 10px;
  width: 10px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 50%;
  position: absolute;
  left: -4px;
  top: 35px;
}

.ball-head {
  height: 12px;
  width: 12px;
  border: 1px solid var(--dark);
  background-color: var(--dark);
  border-radius: 50%;
  margin-left: -5px;
}
/* ------- Skill --------- */
.skill {
  margin: 0 20px;
}

.skill > p:nth-child(1) {
  color: var(--dark);
  font-size: 18px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.skill-para {
  font-size: 17px;
  color: var(--secondary);
  margin: 20px 0px;
  font-family: "Montserrat", sans-serif;
}

/* -------- User details ------- */

.user-del {
  margin: 0 60px;
}

.user-img {
  height: 232px;
}

.user-del > h1 {
  font-size: 50px;
  color: var(--dark);
}

.user-del > p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--dark);
  margin: 11px 0;
  font-weight: 600;
}
/* ---------- Down arrow ---------- */

.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow > img {
  transform: rotate(90deg);
  height: 100px;
}
